* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f2f3f5;
}
.spannel_list {
    margin: 20px 0;
}
.spannel {
    height: 100px;
    background-color: #fff;
    border: 1px solid #e7e7e9;
    text-align: center;
    position: relative;
}
.spannel em {
    display: inline-block;
    font-style: normal;
    color: #83a2ed;
    font-size: 50px;
    /* margin: 10px 0 0 20px; */
}
.spannel span {
    font-size: 14px;
    margin-left: 10px;
    color: #83a2ed;
}
.spannel b {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: normal;
    line-height: 24px;
    background-color: #e5e5e5;
}
.list2 em ,.list2 span{
    color: #6ac6e2;
}
.list3 em ,.list3 span{
    color: #5fd9de;
}
.list4 em ,.list4 span{
    color: #58d88e;
}
.chart {
    margin-bottom: 20px;
}
.line {
    border:1px solid #e7e7e9;
    height: 348px;
}
.pie {
    border:1px solid #e7e7e9;
    height: 348px;
}
.bar {
    border:1px solid #e7e7e9;
    height: 398px;
}