.layui-body {
    position: fixed;
    top: 60px;
    bottom: 44px;
}
.iconfont {
    margin-right: 10px;
}
.layui-icon {
    margin: 0 10px;
}
.text-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #009688;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.userInfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
}
/*调整iframe*/
iframe {
    width: 100%;
    height: 100%;
}

/*去掉iframe的滚动条 ： 需要设置iframe父元素overflow: hidden*/
.layui-body {
    overflow: hidden;
}
